---
import { getCollection } from 'astro:content';
import Flow from "../../components/@Flow.astro";

export async function getStaticPaths() {
  const services = await getCollection('services');
  return services.map((service) => ({
    params: { slug: service.id },
  }));
}

const { slug } = Astro.params;
const services = await getCollection('services');
const service = services.find((item) => item.id === slug);

if (!service) {
  throw new Error(`Service '${slug}' not found.`);
}
---

<Flow>
{service ? (
  <article>
    <h1>{service.data.title}</h1>
    
    <p>{service.data.excerpt}</p>
    <div>{service.body}</div>
  </article>
) : (
  <p>Služba nebyla nalezena.</p>
)}
</Flow>