---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Introduction from '../components/Introduction.astro';
import Services from '../layouts/Services.astro';
---


<Layout title="Touchdown" description={SITE_DESCRIPTION}>
	
		<Navbar />

		<Introduction />

		<main>
			<Services />
		</main>

		
</Layout>