---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Introduction from '../components/Introduction.astro';
---


<Layout title="Touchdown bejby" description={SITE_DESCRIPTION}>
	
		<Navbar />

		<Introduction />

		<main>

		</main>

		
</Layout>