---
import { getCollection } from "astro:content";

const allArticles = await getCollection("media");

const latest = allArticles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<section>
 
  <ul>
    {latest.map((item) => (
      <li>
        <h3>{item.data.title}</h3>
        <p>{item.data.perex}</p>
        <small>{item.data.date.toLocaleDateString()}</small>
      </li>
    ))}
  </ul>
</section>