---
const today = new Date();
---


<section class="v-section-padding contact" aria-label="Contact section" id="contact">
  <div class="container container-narrow mb-3">
    
		<div class="row justify-content-center">

			<div class="col-lg-6 col-md-6 order-first pb-4"> 
				<img class="img-fluid rounded" src="/images/touchdown-vn-trees.png" alt="Photo of street Václavske Náměsti, Praha"> 
			</div>

				<div class=" col-md-6 d-flex align-items-center">
					<div class="px-4">
						<h2 class="h4">Touchdown Czech Republic, s.r.o.</h2>
						<p class="mb-4">Sigma Search Partners member</p>
						

						<div class="touchdown-card">

							<div class="touchdown-row">
								<i class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e0002d"><path d="M240-200h133.85v-237.69h212.3V-200H720v-360L480-740.77 240-560v360Zm-60 60v-450l300-225.77L780-590v450H526.15v-237.69h-92.3V-140H180Zm300-330.38Z"/></svg>							
								</i>
								<address class="mb-0" aria-label="Touchdown company business address. Touchdown Czech republic, Prague, Vaclavske namesti 3">
									Václavské náměstí 3 <br>
									110 00 Praha 1 <br>
									Czech Republic
								</address>
							</div>
							</div>
					
<div class="touchdown-card">

							<div class="touchdown-row">
								<i class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e0002d"><path d="M250-405h300v-60H250v60Zm0-120h460v-60H250v60Zm0-120h460v-60H250v60Zm230 545-99.31-150H172.31q-29.83 0-51.07-21.24Q100-292.48 100-322.31v-465.38q0-29.83 21.24-51.07Q142.48-860 172.31-860h615.38q29.83 0 51.07 21.24Q860-817.52 860-787.69v465.38q0 29.83-21.24 51.07Q817.52-250 787.69-250H579.31L480-100Zm0-108.23L547.08-310h240.61q5.39 0 8.85-3.46t3.46-8.85v-465.38q0-5.39-3.46-8.85t-8.85-3.46H172.31q-5.39 0-8.85 3.46t-3.46 8.85v465.38q0 5.39 3.46 8.85t8.85 3.46h240.61L480-208.23ZM480-555Z"/></svg>
								</i>
								<p>
									<a href="mailto:es@touchdown.cz" aria-label="Email address es@touchdown.cz">es@touchdown.cz</a>
								</p>
							</div>

							<div class="touchdown-row">
								<i class="icon">
									<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e0002d"><path d="M777.61-140q-113.07 0-227.19-52.58-114.11-52.58-209.88-148.34-95.38-95.77-147.96-209.7Q140-664.54 140-777.61q0-18 12-30.2Q164-820 182-820h130.46q15.15 0 26.73 9.89 11.58 9.88 14.73 24.42L376.85-668q2.38 16.38-1 28.15-3.39 11.77-12.16 19.77l-92.38 89.93q22.3 40.84 50.96 77.27 28.65 36.42 62.04 69.57 32.92 32.93 70 61.16 37.08 28.23 80.08 52.54l89.76-90.54q9.39-9.77 22.74-13.7 13.34-3.92 27.73-1.92l111.07 22.62q15.15 4 24.73 15.46t9.58 26V-182q0 18-12.19 30-12.2 12-30.2 12Z"/></svg>
								</i>
								<p class="mb-0">
									<a href="tel:+420 602 328 849"  aria-label="Contact us by phone in working hours. Czech phone number: Plus 420-602-328-849">+420 602 328 849</a>
								</p>
							</div>
						</div>

						


					</div>
				</div>
             
    </div>
  </div>
</section>




		
		

<style>
	.touchdown-card {
		display: flex;
		flex-direction: column;
		padding: 20px 16px;
		gap: 0px;
		border-radius: 8px;
		background: #FAFAFA;
		margin-bottom: 1rem;
	}
	.touchdown-card .touchdown-row {
		display: flex;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
	}
	.h4 {
		font-size: 1.75rem;
	}
	i.icon	{
		display: inline-block;
		width: 2rem;
		text-align: center;
	}
	i.icon svg {
		height: 1.5rem;
	}
</style>