---
const today = new Date();
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container ">
		<div class="row align-items-center mb-5"> 

			<div class="col-6 "> 
				<h2>Touchdown Czech Republic, s.r.o.</h2> 
				<p>Detailed overview of the strengths and weaknesses of your teams.</p> 

				<div class="touchdown-card">
					<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26" viewBox="0 0 23 26" fill="none" aria-hiddent="true">
						<path d="M2.75 23.2662H7.76938V14.3528H15.7306V23.2662H20.75V9.76618L11.75 2.9873L2.75 9.76618V23.2662ZM0.5 25.5162V8.64118L11.75 0.174805L23 8.64118V25.5162H13.4806V16.6028H10.0194V25.5162H0.5Z" fill="#5F6368"/>
					</svg>
					<address aria-label="Touchdown company business address. Touchdown Czech republic, Prague, Vaclavske namesti 3">
						Václavské náměstí 3 <br>
						110 00 Praha 1 <br>
						Czech Republic
					</address>
				</div>

				<div class="touchdown-card">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none" aria-hiddent="true">
						<path d="M9.375 20.9873H20.625V18.7373H9.375V20.9873ZM9.375 16.4873H26.625V14.2373H9.375V16.4873ZM9.375 11.9873H26.625V9.7373H9.375V11.9873ZM18 32.4248L14.2759 26.7998H6.46163C5.71587 26.7998 5.0775 26.5343 4.5465 26.0033C4.0155 25.4723 3.75 24.8339 3.75 24.0882V6.63643C3.75 5.89068 4.0155 5.2523 4.5465 4.7213C5.0775 4.1903 5.71587 3.9248 6.46163 3.9248H29.5384C30.2841 3.9248 30.9225 4.1903 31.4535 4.7213C31.9845 5.2523 32.25 5.89068 32.25 6.63643V24.0882C32.25 24.8339 31.9845 25.4723 31.4535 26.0033C30.9225 26.5343 30.2841 26.7998 29.5384 26.7998H21.7241L18 32.4248ZM18 28.3662L20.5155 24.5498H29.5384C29.6731 24.5498 29.7838 24.5066 29.8703 24.4201C29.9568 24.3336 30 24.2229 30 24.0882V6.63643C30 6.50168 29.9568 6.39106 29.8703 6.30456C29.7838 6.21806 29.6731 6.1748 29.5384 6.1748H6.46163C6.32688 6.1748 6.21625 6.21806 6.12975 6.30456C6.04325 6.39106 6 6.50168 6 6.63643V24.0882C6 24.2229 6.04325 24.3336 6.12975 24.4201C6.21625 24.5066 6.32688 24.5498 6.46163 24.5498H15.4845L18 28.3662Z" fill="#5F6368"/>
					</svg>
					<p>
						<a href="mailto:es@touchdown.cz" aria-label="Email address es@touchdown.cz">es@touchdown.cz</a>
					</p>
				</div>

				<div class="touchdown-card">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none" aria-hiddent="true">
						<path d="M29.1604 30.9248C26.3336 30.9248 23.4938 30.2676 20.6407 28.9531C17.788 27.6386 15.1645 25.7843 12.7703 23.3903C10.3858 20.9961 8.53625 18.3748 7.22175 15.5266C5.90725 12.6786 5.25 9.84118 5.25 7.01443C5.25 6.56443 5.4 6.18693 5.7 5.88193C6 5.57718 6.375 5.4248 6.825 5.4248H11.7172C12.096 5.4248 12.4301 5.54843 12.7196 5.79568C13.0091 6.04268 13.1933 6.34793 13.272 6.71143L14.1319 11.1248C14.1914 11.5343 14.1789 11.8862 14.0944 12.1804C14.0096 12.4747 13.8576 12.7218 13.6384 12.9218L10.1741 16.2942C10.7316 17.3152 11.3686 18.2811 12.0851 19.1918C12.8014 20.1023 13.5769 20.9719 14.4116 21.8007C15.2346 22.6239 16.1096 23.3884 17.0366 24.0942C17.9636 24.7999 18.9646 25.4567 20.0396 26.0644L23.4056 22.6692C23.6404 22.4249 23.9246 22.2537 24.2584 22.1554C24.5919 22.0574 24.9385 22.0334 25.2983 22.0834L29.4634 22.9317C29.8421 23.0317 30.1513 23.2249 30.3908 23.5114C30.6303 23.7979 30.75 24.1229 30.75 24.4864V29.3498C30.75 29.7998 30.5976 30.1748 30.2929 30.4748C29.9879 30.7748 29.6104 30.9248 29.1604 30.9248Z" fill="#5F6368"/>
					</svg>
					<p>
						<a href="mailto:es@touchdown.cz" aria-label="Email address es@touchdown.cz">es@touchdown.cz</a>
						<a href="tel:+420 602 328 849"  aria-label="Contact us by phone in working hours. Czech phone number: Plus 420-602-328-849">+420 602 328 849</a>
					</p>
				</div>

			</div>

			<div class="col-6 order-first"> 
				<img src="/images/services/placeholder.svg" alt="Leadership advisory"> </div> 
			</div>
		
		</div>
	</div>
</section>

<style>
	.touchdown-card {
		display: flex;
		padding: 10px 16px;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
		border-radius: 8px;
		background: #FAFAFA;
	}
</style>