---
const today = new Date();
---

<footer>
	
	
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="/public/images/footer-logo.svg" alt="">
			</div>
			<div class="col">

				<div class="col">
					<p aria-label="Touchdown Company Czech Identification number 271-70-748">ID 27170748</p>
					<p aria-label="Touchdown Company Czech Value Added Tax number CZ-271-70-748">VAT CZ27170748</p>
				</div>
				<div class="col">
					<label id="invoicing-address">Invoicing address:</label>
					<address aria-labelledby="invoicing-address">
						Touchdown Czech Republic, s.r.o.
						nám. Jiřího z Lobkovic 2458/17
						130 00 Praha 3 – Vinohrady
					</address>
				</div>

			</div>
		</div>
		
			
	</div>

		<img class="wide-logo" src="/public/images/footer-logo-transparent.svg" alt="Logo" aria-hidden="true">

</footer>
<style>
	footer {
		background: #333;
		min-height: 300px;
	}
	p, label, address {
		color: white;
	}
	.wide-logo {
		width: 100%
	}
</style>
