---
const today = new Date();
import { Image } from 'astro:assets';
import runnerImg from '../images/touchdown-runner.png'
---

<section class="v-section-padding" aria-label="Introduction">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 class="text-center mt-3">Discover talents to drive business forward</h1>
                <p class="text-center perex pt-4 mb-5">We are Touchdown. Boutique executive search company.</p>
                <Image src={runnerImg} class="img-fluid" alt="Woman running in paceWoman running through the park at a comfortable pace" />
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-3 pt-5">
                <p class="h2 text-center">More than 20 years of experience in Consulting Services.</p>
            </div>
        </div>

    </div>

</section>