---
const today = new Date();
import Image from "astro/components/Image.astro";
import Sector from "./Sector.astro";
import TeamImage from "../assets/images/touchdown-executive-search-team.png"
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container ">
			
		<div class="row align-items-center mb-5 mx-0">
			
			<div class="col-6">
				<h3 class="mb-0">Media</h3>
			</div>

			<div class="col-6" >
				<p class="text-end mb-0">We are here to deliver expert recruitment and executive search services tailored to your needs.</p>
			</div>
			
		</div>
		
		
	</div>
</section>

<style>
	
</style>