---
import { getCollection } from "astro:content";

const allArticles = await getCollection("media");

const latest = allArticles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container container-narrow">

		<div class="row align-items-center mb-5 mx-0">
			
			<div class="col-6">
				<h3 class="mb-0">Touchdown in Media</h3>
			</div>

			<div class="col-6" aria-hidden="true">
				<p class="text-end mb-0"></p>
			</div>
			
		</div>

		<div class="row mb-5 mx-0">

    {latest.map((item) => (
      <div class="col-sm-6 col-md-4">
				<a class="" href={`/media/${item.slug}`}>
					<div class="papers-card-spa"> 
						<p>
							<img src={"/images/media/"+item.data.logo+".png"} alt={item.data.papers} class="img-fluid papers-logo">
						</p>
						<h3 class="h6" aria-label="Article in czech language: {item.data.title}">{item.data.title}</h3> 
						
					</div> 
				</a> 
			</div>
    ))}
 
		</div>

		<div class="row">
			<div class="col-8 offset-2 text-center">
				<a href="/media" class="btn btn-rounded btn-arrow-right" 
				role="button" aria-label="Find more articles about Touchdown company">All Touchdown articles</a>
			</div>
		</div>

	</div>
</section>

