---
const today = new Date();
import Image from "astro/components/Image.astro";
import Sector from "./Sector.astro";
import TeamImage from "../assets/images/touchdown-executive-search-team.png"
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container ">
			
		<div class="row align-items-center mb-5 mx-0">
			
			<div class="col">
					
						<img decoding="async" src="/public/images/partners/ceska-sporitelna.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/air-products.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/amcor.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/avia.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/automotive-lighting.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/ball-aerocan.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/benson-oak.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/hellenic.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/cs-cargo.jpg" alt="Ninzio">
					
					
						<img decoding="async" src="/public/images/partners/csob-leasing.jpg" alt="ČSOB Leasing">
					
					
						<img decoding="async" src="/public/images/partners/kollmorgen.jpg" alt="Kollmorgen">
					
					
						<img decoding="async" src="/public/images/partners/datart.jpg" alt="Datart">
					
					
						<img decoding="async" src="/public/images/partners/dermacol.jpg" alt="Dermacol">
					
					
						<img decoding="async" src="/public/images/partners/education-first.jpg" alt="Education first">
					
					
						<img decoding="async" src="/public/images/partners/lilly.jpg" alt="Lilly">
					
					
						<img decoding="async" src="/public/images/partners/ims.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/kiekert-cs.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/kofola.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/raiffeisen-bank.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/n.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/mondi.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/samvardhana-motherson-group.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/net-for-gas.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/okin-group.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/passerinvest.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/pepsico.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/plzensky-prazdroj.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/rodenstock.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/rpg-real-estate.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/saint-gobain.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/rigips.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/tesco.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/trend-micro.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/adol-group.jpg" alt="">
					
					
						<img decoding="async" src="/public/images/partners/i.jpg" alt=""></div>					
					
			
		</div>
		
				
		
	</div>
</section>

<style>
	
</style>