---
const today = new Date();
import Partner from "./Partner.astro";
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container ">
		<div class="row align-items-center mb-5 mx-0">
					
				<Partner src="/images/partners/ceska-sporitelna.jpg" alt="Logo České Spořitelny" />	
				<Partner src="/images/partners/air-products.jpg" alt="Logo Air Products" />	
				<Partner src="/images/partners/amcor.jpg" alt="Logo Amcor" />	
				<Partner src="/images/partners/avia.jpg" alt="Logo Avia" />	
				<Partner src="/images/partners/automotive-lighting.jpg" alt="Automotive Lighting" />	
				<Partner src="/images/partners/ball-aerocan.jpg" alt="Ball Aerocan" />	
				<Partner src="/images/partners/benson-oak.jpg" alt="Benson Oak" />	
				<Partner src="/images/partners/hellenic.jpg" alt="Hellenic" />	
				<Partner src="/images/partners/cs-cargo.jpg" alt="CS Cargo" />	
				<Partner src="/images/partners/csob-leasing.jpg" alt="ČSOB Leasing" />	
				<Partner src="/images/partners/kollmorgen.jpg" alt="Kollmorgen" />	
				<Partner src="/images/partners/datart.jpg" alt="Datart" />	
				<Partner src="/images/partners/dermacol.jpg" alt="Dermacol" />	
				<Partner src="/images/partners/education-first.jpg" alt="Education first" />	
				<Partner src="/images/partners/lilly.jpg" alt="Lilly" />	
				<Partner src="/images/partners/ims.jpg" alt="IMS" />	
				<Partner src="/images/partners/kiekert-cs.jpg" alt="Kiekert CS" />	
				<Partner src="/images/partners/kofola.jpg" alt="Kofola" />	
				<Partner src="/images/partners/raiffeisen-bank.jpg" alt="Raiffeisen bank" />	
				<Partner src="/images/partners/n.jpg" alt="N" />	
				<Partner src="/images/partners/mondi.jpg" alt="Mondi" />	
				<Partner src="/images/partners/samvardhana-motherson-group.jpg" alt="Samvardhana Motherson Group" />	
				<Partner src="/images/partners/net-for-gas.jpg" alt="Net for Gas" />	
				<Partner src="/images/partners/okin-group.jpg" alt="Okin Group" />	
				<Partner src="/images/partners/passerinvest.jpg" alt="Passerinvest" />	
				<Partner src="/images/partners/pepsico.jpg" alt="Pepsico" />	
				<Partner src="/images/partners/plzensky-prazdroj.jpg" alt="Plzeňský Prazdroj" />	
				<Partner src="/images/partners/rodenstock.jpg" alt="Rodenstock" />	
				<Partner src="/images/partners/rpg-real-estate.jpg" alt="RPG Real Estate" />	
				<Partner src="/images/partners/saint-gobain.jpg" alt="Saint Gobain" />	
				<Partner src="/images/partners/rigips.jpg" alt="Rigips" />	
				<Partner src="/images/partners/tesco.jpg" alt="Tesco" />	
				<Partner src="/images/partners/trend-micro.jpg" alt="Trend Micro" />	
				<Partner src="/images/partners/adol-group.jpg" alt="Adol Group" />	
				<Partner src="/images/partners/i.jpg" alt="logo společnosti I">

		</div>
	</div>
</section>

<style>
	
</style>