---
const today = new Date();
import Image from "astro/components/Image.astro";

interface Props {
	title: string;
	svg: string;
}

const { title, svg } = Astro.props;
---
<li>
	<div class="touchdown-card">
		<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none" aria-hidden="true" class="rounded">
			<path d={svg} fill="#5F6368"/>
		</svg>
		<p>{title}</p>	
	</div>
</li>

<style>
	li {
		list-style: none;
		display: inline-block;
		width: 25%;
		padding: .5rem;
	}

	.touchdown-card {
		border-radius: .75rem;
		background: #FAFAFA;
		padding: 2rem;
		gap: 1rem;
	}


</style>