---
const today = new Date();
import Image from "astro/components/Image.astro";

interface Props {
	title: string;
	svg: string;
}

const { title, svg } = Astro.props;
---
<div class="col-6 col-md-4 col-lg-3">
	<div class="touchdown-card mb-4">
		<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none" aria-hidden="true" class="rounded">
			<path d={svg} fill="#5F6368"/>
		</svg>
		<p>{title}</p>	
	</div>
</div>

<style>


	.touchdown-card {
		border-radius: .75rem;
		background: #FAFAFA;
		padding: 2rem;
		gap: 1rem;
	}
	
	.touchdown-card p {
		height: 34px;
	}

	svg {
		opacity: .7;
	}

	p {
		color: #000;
		font-size: .875rem;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.149px;
		margin-top: .875rem;
	}


</style>