---
const today = new Date();
import { getCollection } from 'astro:content';
const unsortedServices = await getCollection('services');
const services = unsortedServices.sort((a, b) => a.data.order - b.data.order);
---

<section class="v-section-padding services pt-4" aria-label="Consulting" id="consulting-services">
  <div class="container container-narrow">
    <div class="row d-flex justify-content-center">
       {services.map(({ id, data }) => (


            <div class="col-lg-6 col-md-6 mb-4 d-flex">
            <div class="touchdowncol py-5 px-4 d-flex align-items-start">
                <div class="px-4">
                  <h3 class="h5">{data.title}</h3>
                  <p>{data.excerpt}</p>
                  <a class="btn-link btn-arrow-right" href={`/services/${id}`}>{data.linkLabel ? data.linkLabel : 'Read more'}</a>
                </div>
             
              
          </div>
          </div>
      ))}
    </div>
  </div>
</section>

<style>

.touchdowncol {
  background-color: #f7f7f7;
  border-radius: 20px;
}
</style>
