---
const today = new Date();
import Image from "astro/components/Image.astro";
import TeamImage from "../assets/images/touchdown-executive-search-team.png"
---

<section class="v-section-padding" aria-label="Sectors">
			
	<div class="sigma-bg">
		<div class="sigma-map">


			<div class="container py-5 h-100">
				<div class="row align-items-center mb-0 mx-0 h-100">

					<div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-4">
						<h3 class="h4 mb-4">Global network of trusted recruitment experts</h3>
						<p>Gain access to top talent worldwide. As part of Sigma, our search is powered by experienced international partners.</p>
						<p>Expand your reach, improving candidate quality, and delivering faster results.</p>
						<a class="btn-link btn-arrow-right" href="https://sigma-search.com/">Learn how Sigma can strengthen <br> your search</a>
					</div>

				</div>
			</div>

		</div>
	</div>

	
</section>

<style>

	.sigma-bg {
		background-color: #fafafa;
 		background-image: none;
		background-size: contain; /* nebo contain nebo 100% 100% */
		background-position: top left;
	}

	.sigma-map {
		background-image: url('/images/touchdown-sigma-search-europe.svg');
		background-repeat: no-repeat;
		background-size: auto 100%; /* nebo contain nebo 100% 100% */
		background-position: top left;
	}


	@media screen and (min-width: 510px) {
		.sigma-map {
			background-position: top right;
		}
	}

	@media screen and (min-width: 992px) {
		.sigma-bg { background-image: url('/images/touchdown-sigma-search-white-stripes.svg'); }
  	.sigma-map { 
			background-image: url('/images/touchdown-sigma-search-cities.svg'); 
	    height: 42vw;
		}
	}
</style>