---
const today = new Date();
import Image from "astro/components/Image.astro";
import TeamImage from "../assets/images/touchdown-executive-search-team.png"
---

<section class="v-section-padding" aria-label="Sectors">
	<div class="container-fluid">
			
		<div class="row align-items-center mb-5 mx-0 touchdown-bg">
			
			<div class="col-6">
				<h3 class="mb-0">Global network of trusted recruitment experts</h3>
				<p>Gain access to top talent worldwide. As part of Sigma, our search is powered by experienced international partners.</p>
				<p>Expand your reach, improving candidate quality, and delivering faster results.</p>
				<a class="btn-link btn-arrow-right" href="https://sigma-search.com/">Learn how Sigma can strengthen your search</a>
			</div>

			<div class="col-6" >
				<img src="/public/images/touchdown-sigma-search-europe.svg" alt="Map of Europe with Sigma Search cities Highlighted. Amsterdam, London, Paris, Bern, Munich, Prague, Bratislava, Lisbon, Porto, Madrid, Barcelona and Milan">
			</div>
			
		</div>
	
		
	</div>
</section>

<style>
	.touchdown-bg {
		background-color: #FAFAFA;
		background-image: url('/public/images/touchdown-sigma-search-white-stripes.svg');
	}
</style>