---
import { getCollection, getEntry } from 'astro:content';
import Flow from "../../components/@Flow.astro";

const { slug } = Astro.params;
if (!slug) throw new Error('Article slug not found');
const article = await getEntry('media', slug);

if (!article) throw new Error('No article found for this slug');
const { Content } = await article.render();

// Generate static pages
export async function getStaticPaths() {
  const articles = await getCollection('media');
  return articles.map(article => ({ params: { slug: article.slug } }));
}
---

<Flow>
  <article>
    <h1>{article.data.title}</h1>
    <p><em>{article.data.date.toLocaleDateString()}</em></p>
    <div>
      <Content />
    </div>
  </article>
</Flow>